.note-preview {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title {
    color: black;
    text-align: center;
    text-decoration: underline;
    height: 100%;
    width: 100%;
}

.txt {
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.delete-note-btn {
    background-color: coral;

}

.control-btns {
    margin-block-start: auto;
    display: flex;
}

.color-picker {
    display: none;
}

.note-video iframe {
    height: 100%;
    width: 100%;
}
  