.book-list {
 display: flex;
 flex-direction: column;
 justify-content: center;
  padding: 2rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

.book-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 15px;
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  transition: transform .3s ease-in-out;
}

.book-img-container {
  width: 100%;
  height: 0;
  padding-bottom: 150%; 
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.book-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-preview h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

.book-price {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #00c257;
}

.book-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2em;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn-details {
  background-color: #70c3cc;
}

.btn-details:hover {
  background-color: #16c7cd;
}

.btn-remove {
  background-color: #f8766b;
  margin-top: 0.5rem;
}

.btn-remove:hover {
  background-color: #df574d;
}
