.email-sidebar-container button {
    display: flex;
    border: none;
    font-size: .875rem;
    /*height: 10px;*/
    cursor: pointer;
    text-align: center;
    justify-content: space-around;
    padding: 0 24px 0 0;
    width: 142px;
    height: 56px;
    align-items: center;
    vertical-align: middle;
    background-color: rgb(246, 248, 252);   
}

.email-sidebar-container button:hover {
    background-color: rgb(231, 229, 229);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.email-sidebar-search-menu {
    display: flex;
}

.email-sidebar-search-menu img {
    height: 20px;
}

.email-sidebar-compose, .email-sidebar-sidebtn {
    background-color: rgb(246, 248, 252);
    display: flex;
    flex-direction: column;
    position: relative;
    position: relative;
}

.email-sidebar-search-btn {
    cursor: pointer;
}